---
layout: documentation
path: documentation/stores-api
title: Stores API
---

# Stores API

The Best Buy Stores API provides store information for all Best Buy stores in the United States and Puerto Rico. This information includes address, location, hours and services offered.

In addition, store availability of a product can be determined by querying the Products API together with the Stores API. Refer to In Store Availability for more information on these type of queries.

## Common Attributes

 The Stores API enables you to retrieve the basic store information for all Best Buy stores, a specific Best Buy store or those stores that match a set of search parameters.

Attribute | Description
--------- | -----------
**address** | Street address
**address2** | Street address 2 provides additional street address information for the Best Buy store in the result set
**city** | City name
**country** | Country name
**distance** | Store distance from specified location in miles; attribute is not queryable; use with lat and long or postal code
**fullPostalCode** | 9-digit postal code if available for store location
**lat** | Latitude
**lng** | Longitude
**location** | Details about location of a store; primarily used for identifying Best Buy Express stores
**longName** | Full store name
**name** | Store name
**phone** | Store phone number; phone number for Express stores goes to Best Buy Customer Service
**postalCode** | 5-digit postal code
**region** | State, territory
**storeId** | Store number
**storeType** | Indicates the type of store<li> There are three types of Best Buy stores: "Big Box", "Mobile" and "Express"<li>"Big Box" value represents large showroom stores featuring HDTVs, computers, gaming, appliances, cell phones, tablets, Geek Squad services and more<li>"Mobile" value represents specialty shops focused on smartphones, tablets, accessories, services and plans<li>"Express" value represents vending machine-style, self-checkout stores offering audio goods and accessories, found in airports, on college campuses and more
**tradeIn** | Indicates the type of trade-ins accepted at stores<li>Possible trade in values include: "trade-in - no-receipt", "trade-in - no receipt (biometric)", "trade-in - best buy receipt required", "trade-in - no receipt (2 ids required)", "no trade-ins accepted", "trade-in - no receipt (biometric with 2 ids)", "trade-in - no receipt for video games. best buy receipt for other items"<li>For more information about trade-in policies, please visit the local store page

###Request/Response Examples:

```shell
curl "https://api.bestbuy.com/v1/stores?format=json&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
  {
      "storeId": 1118,
      "storeType": "BigBox",
      "tradeIn": "No Trade-Ins accepted",
      "name": "Hato Rey",
      "longName": "Best Buy - Hato Rey",
      "address": "230 Calle Federico Costa Hato Rey",
      "address2": "",
      "city": "San Juan",
      "region": "PR",
      "fullPostalCode": "00918",
      "country": "US",
      "lat": 18.42684,
      "lng": -66.07188,
      "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 11-7",
      "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 11am-7pm",
      "gmtOffset": -5,
      "services": [
        {
          "service": "Windows Store"
        },
        {
          "service": "Geek Squad Services"
        },
        {
          "service": "Best Buy Mobile"
        },
        {
          "service": "Best Buy For Business"
        },
        {
          "service": "Apple Shop"
        },
        {
          "service": "Electronics Recycling"
        },
        {
          "service": "Car & GPS Installation Services"
        }
      ],
      "phone": "787-764-4900",
      "postalCode": "00918"
    }
```

###Store information for all stores

This query returns store information for all stores.

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(storeId=281)?format=json&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
  {
      "storeId": 281,
      "name": "Richfield",
      "longName": "Best Buy - Richfield",
      "address": "1000 West 78th St.",
      "address2": "",
      "city": "Richfield",
      "region": "MN",
      "fullPostalCode": "55423",
      "country": "US",
      "lat": 44.863312,
      "lng": -93.292557
    }
```

### Store information for a single store using a store identifier

This query returns store information of a store with the `storeId` attribute specified in the input.

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(city=San Juan)?format=json&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
  {
      "storeId": 1118,
      "name": "Hato Rey",
      "longName": "Best Buy - Hato Rey",
      "address": "230 Calle Federico Costa Hato Rey",
      "address2": "",
      "city": "San Juan"
    }
```

### All stores within a city

This query returns stores information for all the stores in the `city` specified as the input.

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(postalCode=55423)?format=json&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
{ "storeId": 2387,
      "name": "Best Buy Mobile - Richfield",
      "longName": "Best Buy Mobile - Richfield",
      "address": "6601 Nicollet Ave S",
      "address2": "",
      "city": "Richfield",
      "region": "MN",
      "fullPostalCode": "55423"
}
```

### All stores within a zipcode

This query retrieves stores information for all the stores in the `postalCode` specified as the input.

##Area Function

The Stores API includes a special function `area(location,distance)` enabling you to locate stores near a specified location.

Use the `postalCode` attribute or a `lat`-`long` pair to search based on a location. When postal code is used the reference point in the postal code (zipcode) area is determined by a standard mapping service. If no distance is specified in the function, radius is defaulted to 10 miles. The `location` will be populated with the distance from the specified postal code or lat/long to the store in miles.

###Request/Response Examples:

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(area(55423,10))?format=json&apiKey=YourAPIKey&show=storeId,name"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
{
  "stores":[
    {
      "storeId": 2387,
      "name": "Best Buy Mobile - Richfield"
    },
    {
      "storeId": 281,
      "name": "Richfield"
    },
    {
      "storeId": 1000,
      "name": "Mall of America"
    }
    ]
 }
 ```

### Stores closest to a specified geo-location

This query returns stores within 10 miles of ZIP code 55423 (Richfield, MN).

_Note_: _You may notice the stores returned are stated to be just over 10 miles from the ZIP code. This is due to the way return distance is calculated. The search area is defined as a square, bounded by location point +/- distance identified in request. All stores in that square are returned. Return distance is calculated linearly from the location point (creates a circle). Stores near the corner of the square might be listed as farther than the query distance specified._

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(area(71.3,-156.8,1000))?format=json&show=storeId,name,distance&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
{
  "stores": [
    {
      "storeId": 1760,
      "name": "Northern Anchorage",
      "distance": 722.49
    },
    {
      "storeId": 539,
      "name": "Anchorage",
      "distance": 727.56
    }
  ],
  "warnings": "Distances are in terms of miles (default)"
}
```

### Stores within a radius from a specific location

This query returns stores within 1000 miles of Barrow, Alaska (71.3 N, 156.8 W).

## Hours
The Hours attributes provide the days and times each Best Buy store is open for the following two weeks. We start our weeks on Sunday and provide hours in both a 12-hour and 24-hour clock. The times displayed are for the local time zones of the Best Buy store being returned. The Detailed Hours attributes provide the most accurate information of when stores will be opened or closed. This can be helpful during holidays as store hours may vary during this time.

*Hint: Detailed hours are filtered out from the search results by default. Query with `show=all` or `show=detailedHours` to see in the search results.*

Attribute | Description
--------- | -----------
**detailedHours.day** | Days of the week store will be open
**detailedHours.date** | Dates store will be open
**detailedHours.open** | Time store will open (24-hour clock)
**detailedHours.close** | Time store will close (24-hour clock)
**gmtOffset** | Time difference from GMT
**hours** | Regular Best Buy store hours Monday through Friday for the calendar year; displayed in local time zone
**hoursAmPm** | Regular Best Buy store hours Monday through Friday for the calendar year with am and pm identifiers; displayed in local time zone

###Request/Response Example:

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(storeId=1118)?format=json&apiKey=YourAPIKey&show=hours,hoursAmPm,gmtOffset,detailedHours"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
{
  "stores": [
    {
      "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 11-7",
      "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 11am-7pm",
      "gmtOffset": -5,
      "detailedHours": [
        {
          "day": "Sunday",
          "date": "2014-05-04",
          "open": "11:00",
          "close": "19:00"
        },
        {
          "day": "Monday",
          "date": "2014-05-05",
          "open": "10:00",
          "close": "21:00"
        }
        {
          "day": "Tuesday",
          "date": "2014-05-06",
          "open": "10:00",
          "close": "21:00"
        }
```

###Store hours for a single store using a store identifier

This query returns general store hours and detailed store hours for a requested store.


## Services Offered
The Stores API includes information related to the services offered at each of the Best Buy stores. `services` is a collection of different services offered at a specified store.

Attribute | Description
--------- | -----------
**services.service** | Collection of services offered at each Best Buy store

###Request/Response Example:

<div></div>

```shell
curl "https://api.bestbuy.com/v1/stores(storeId=1118)?format=json&apiKey=YourAPIKey&show=services"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.categories('',{show:'id'}).then(function(data){
  console.log(data);
});
```

```json
  {
  "services": [
        {
          "service": "Windows Store"
        },
        {
          "service": "Geek Squad Services"
        },
        {
          "service": "Best Buy Mobile"
        },
        {
          "service": "Best Buy For Business"
        },
        {
          "service": "Apple Shop"
        },
        {
          "service": "Electronics Recycling"
        },
        {
          "service": "Car & GPS Installation Services"
        }
```

This query returns all services offered at the store specified in the input.

## In-Store Availability

```shell
curl "https://api.bestbuy.com/v1/stores(area(44.882942,-93.2775,10)&storeType=Express)+products(sku=6461052)?apiKey=YourAPIKey&format=json&show=storeId,storeType,city,region,name,products.name,products.sku,products"
```

```javascript
//Not yet implemented
```
> This example shows Express stores within 10 miles of 44.882942,-93.2775 (Richfield, MN) that carry SKU 6461052 (Skullcandy earbuds).

```json
    {
      "storeId": 8108,
      "storeType": "Express",
      "city": "Minneapolis",
      "region": "MN",
      "name": "MSP - Minneapolis Saint Paul International Airport",
      "products": [
        {
          "name": "Skullcandy - Ink'd 2 Earbud Headphones - Black",
          "sku": 6461052
        }
      ]
    }
    {
      "storeId": 8915,
      "storeType": "Express",
      "city": "Minneapolis",
      "region": "MN",
      "name": "Minneapolis Convention Center",
      "products": [
        {
          "name": "Skullcandy - Ink'd 2 Earbud Headphones - Black",
          "sku": 6461052
        }
      ]
    }
```
The Stores API, in conjunction with the Products API, allows you to search stores for a product and identify if it is available. In-store availability searches will return only those stores that have a given product in stock. Stores not returned do not have that product in stock. When completing an in-store availability query you should limit the stores that are a part of the query.

Availability in stores is calculated using counts and previous-day sales to determine if the product is likely to be available, might be available or is unlikely to be available.  The algorithm errs on the side of caution, and anything that is not available defaults to "not available".

_HINT: The Products API attribute `inStoreAvailability` will tell you if a product is sold in stores but not if it's available at a particular store. Using the In-Store availability queries is equivalent to checking product availability in store._