---
layout: documentation
path: documentation/stores-api
title: Stores API
---

# Stores API
```shell
curl "https://api.bestbuy.com/v1/stores?format=json&show=city,longName&pageSize=2&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.stores('',{show:'city,longName',pageSize:2}).then(function(data){
  console.log(data);
});
```

> Returns the city and store name of 2 stores

```json-doc
{
  "from": 1,
  "to": 2,
  "total": 1587,
  "currentPage": 1,
  "totalPages": 794,
  "stores": [
    {
      "city": "San Juan",
      "longName": "Best Buy - Hato Rey"
    },
    {
      "city": "Bayamon",
      "longName": "Best Buy - Rio Hondo Mall"
    }
  ]
}
```

The Best Buy Stores API provides store information for all Best Buy stores in the United States and Puerto Rico. This information includes address, location, hours and services offered.

In addition, store availability of a product can be determined by querying the Products API together with the Stores API. Refer to In Store Availability for more information on these type of queries.

<div></div>

## Common Attributes

```shell
curl "https://api.bestbuy.com/v1/stores(postalCode=55423)?format=json&show=storeId,storeType,name,city,region&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.stores('postalCode=55423', {show: 'storeId,storeType,name,city,region'}).then(function(data){
  console.log(data);
});
```

> Returns all stores at the ZIP code 55423 (Richfield, MN)


```json-doc
{
  "from": 1,
  "to": 2,
  "total": 2,
  "currentPage": 1,
  "totalPages": 1,
  "stores": [
    {
      "storeId": 281,
      "storeType": "Big Box",
      "name": "Richfield",
      "city": "Richfield",
      "region": "MN"
    },
    {
      "storeId": 8001,
      "storeType": "Express Kiosk",
      "name": "Best Buy HQ",
      "city": "Richfield",
      "region": "MN"
    }
  ]
}
```

The Stores API enables you to retrieve the basic store information for all Best Buy stores, a specific Best Buy store or those stores that match a set of search parameters.

Attribute | Description
--------- | -----------
**address** | Street address
**address2** | Street address 2 provides additional street address information for the Best Buy store in the result set
**city** | City name
**country** | Country name
**distance** | Store distance from specified location in miles; attribute is not queryable; use with lat and long or postal code
**fullPostalCode** | 9-digit postal code if available for store location
**lat** | Latitude
**lng** | Longitude
**location** | Details about location of a store; primarily used for identifying Best Buy Express Kiosk stores
**locationType** | Whether the location is a Store or a Warehouse
**longName** | Full store name
**name** | Store name
**phone** | Store phone number; phone number for Express stores goes to Best Buy Customer Service
**postalCode** | 5-digit postal code
**region** | State, territory
**storeId** | Store number
**storeType** | Indicates the type of store, and is only present if locationType is 'Store'. There are five types of Best Buy stores: "Big Box", "Express Kiosk", "Warehouse Sale", "Outlet Center" and "PAC Standalone Store"<li>"Big Box" value represents large showroom stores featuring HDTVs, computers, gaming, appliances, cell phones, tablets, Geek Squad services and more<li>"Express Kiosk" value represents vending machine-style, self-checkout stores offering audio goods and accessories, found in airports, on college campuses and more<li>"Warehouse Sale" value represents occasional sale locations<li>"Outlet Center" value represents locations that sell open box and clearance products. Outlet Centers are open only a portion of the week<li>"PAC Standalone Store" value represents Pacific Sales locations not located within a Big Box store - these locations only sell the Pacific Sales selection of kitchen and bath products


##Area Function

```shell
curl "https://api.bestbuy.com/v1/stores(area(55423,10))?format=json&show=storeId,storeType,name&pageSize=1&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.stores('area(55423,10)',{show:'storeId,storeType,name', pageSize: 1}).then(function(data){
  console.log(data);
});
```

> Returns stores within 10 miles of ZIP code 55423 (Richfield, MN)

```json-doc
{
  "from": 1,
  "to": 1,
  "total": 22,
  "currentPage": 1,
  "totalPages": 11,
  "stores": [
    {
      "storeId": 281,
      "storeType": "Big Box",
      "name": "Richfield"
    }
  ]
}
```

The Stores API includes a special function `area(location,distance)` enabling you to locate stores near a specified location.

Use the `postalCode` attribute or a `lat`-`lng` pair to search based on a location. When postal code is used the reference point in the postal code (zipcode) area is determined by a standard mapping service. If no distance is specified in the function, radius is defaulted to 10 miles. The `location` will be populated with the distance from the specified postal code or lat/long to the store in miles.

_Note_: _You may notice the stores returned are stated to be just over 10 miles from the ZIP code. This is due to the way return distance is calculated. The search area is defined as a square, bounded by location point +/- distance identified in request. All stores in that square are returned. Return distance is calculated linearly from the location point (creates a circle). Stores near the corner of the square might be listed as farther than the query distance specified._


## Hours

```shell
curl "https://api.bestbuy.com/v1/stores(storeId=1118)?format=json&show=hours,hoursAmPm,gmtOffset,detailedHours&apiKey=YourAPIKey"
```

```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.stores('storeId=1118',{show:'hours,hoursAmPm,gmtOffset,detailedHours'})
   .then(function(data){
     // The util package is loaded to print the complete object structure
     console.log(require('util').inspect(data, false, null));
   });
```

> Shows all hours that store #1118 (San Juan, PR) is open

```json-doc
{
  "from": 1,
  "to": 1,
  "total": 1,
  "currentPage": 1,
  "totalPages": 1,
  "stores": [
    {
      "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Fri: 12:01-10; Sat: 9-10; Sun: 11-8",
      "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Fri: 12:01am-10pm; Sat: 9am-10pm; Sun: 11am-8pm",
      "gmtOffset": -5,
      "detailedHours": [
        {
          "day": "Sunday",
          "date": "2015-11-22",
          "open": "11:00",
          "close": "20:00"
        },
        {
          "day": "Monday",
          "date": "2015-11-23",
          "open": "10:00",
          "close": "21:00"
        }
        // Typically returns 14 days, truncating from documentation
      ]
    }
  ]
}
```

The Hours attributes provide the days and times each Best Buy store is open for the following two weeks. We start our weeks on Sunday and provide hours in both a 12-hour and 24-hour clock. The times displayed are for the local time zones of the Best Buy store being returned. The Detailed Hours attributes provide the most accurate information of when stores will be opened or closed. This can be helpful during holidays as store hours may vary during this time.

*Hint: Detailed hours are filtered out from the search results by default. Query with `show=all` or `show=detailedHours` to see in the search results.*

Attribute | Description
--------- | -----------
**detailedHours.day** | Days of the week store will be open
**detailedHours.date** | Dates store will be open
**detailedHours.open** | Time store will open (24-hour clock)
**detailedHours.close** | Time store will close (24-hour clock)
**gmtOffset** | Time difference from GMT
**hours** | Regular Best Buy store hours Monday through Friday for the calendar year; displayed in local time zone
**hoursAmPm** | Regular Best Buy store hours Monday through Friday for the calendar year with am and pm identifiers; displayed in local time zone



## Services Offered
```shell
curl "https://api.bestbuy.com/v1/stores(storeId=1118)?format=json&show=services&apiKey=YourAPIKey"
```
```javascript
var bby = require('bestbuy')('YourAPIKey');
bby.stores('storeId=1118',{show:'services'}).then(function(data){
  // The util package is loaded to print the complete object structure
  console.log(require('util').inspect(data, false, null));
});
```
> Shows all services available at store #1118 (San Juan, PR)

```json-doc
{
  "from": 1,
  "to": 1,
  "total": 1,
  "currentPage": 1,
  "totalPages": 1,
  "stores": [
    {
      "services": [
        {
          "service": "Windows Store"
        },
        {
          "service": "Geek Squad Services"
        },
        {
          "service": "Best Buy Mobile"
        },
        {
          "service": "Best Buy For Business"
        },
        {
          "service": "Apple Shop"
        },
        {
          "service": "Electronics Recycling"
        },
        {
          "service": "Best Buy Marine Powered by Geek Squad"
        },
        {
          "service": "Samsung Experience"
        },
        {
          "service": "LG Experience"
        },
        {
          "service": "Trade-In"
        },
        {
          "service": "Car & GPS Installation Services"
        }
      ]
    }
  ]
}
```

The Stores API includes information related to the services offered at each of the Best Buy stores. `services` is a collection of different services offered at a specified store.

Attribute | Description
--------- | -----------
**services.service** | Collection of services offered at each Best Buy store



## In-Store Availability

```shell
curl "https://api.bestbuy.com/v1/products/4807511/stores.json?postalCode=55423&apiKey=YourAPIKey"
```
> Shows stores near 55423 (Richfield, MN) that carry SKU 4807511 (Insignia LED-TV)

```json-doc

{
  "ispuEligible": true,
  "stores": [
    {
      "storeID": "281",
      "name": "RICHFIELD MN",
      "address": "1000 WEST 78TH ST",
      "city": "RICHFIELD",
      "state": "MN",
      "postalCode": "55423",
      "storeType": "Big_Box_Store",
      "minPickupHours": 1,
      "lowStock": false
    },
  ]
}
```

The Stores API, in conjunction with the Products API, allows you to search stores for a product and identify if it is available. In-store availability searches will return only those stores that have a given product in stock. Stores not returned do not have that product in stock. You can get near real time availability for specific SKUs based on either a store ID or postal code search.

###SKU Specific Availability

You can look up near real time store availability for single SKUs. You may search either on `postalCode` or based on `storeId`. Results for `postalCode` queries will include all stores within a 250 mile radius, sorted by proximity.

_HINT: The Products API attribute `inStoreAvailability` will tell you if a product is sold in stores but not if it's available at a particular store. Using the In-Store availability queries is equivalent to checking product availability in store._
